{% extends 'base.html' %}
{% block content %}

<div class="container mt-4">
    <div class="col-lg-4 col-md-6 p-2 mx-auto border rounded  m-4" >
        <h3 class="alert-light text-center p-2 border rounded my-auto">Change User Password</h3>
        {% if error_massage %}
        <div class="alert-danger p-2 mt-2 rounded">{{error_massage}}</div>
        {% endif %}
        <form method="post" action="" >
            {% csrf_token %}
           
            <!-- old password -->
            <div class="form-group m-4">
                <lable for="old_password">Old Password :</lable>
                <input type="password" class="form-control form-control-sm" name="old_password" id="old_password" placeholder="old_password">
            </div>
              <!-- new password -->
            <div class="form-group m-4">
                <lable for="new_password">New Password :</lable>
                <input type="password" class="form-control form-control-sm" name="new_password" id="new_password" placeholder="new_password">
            </div>
            
              <!-- Conferm password -->
            <div class="form-group m-4">
                <lable for="conferm_password">Conferm Password :</lable>
                <input type="password" class="form-control form-control-sm" name="conferm_password" id="conferm_password" placeholder="new_password">
            </div>
            
            
            <div class="form-group mt-2 px-2 m-4">
             <div class="d-flex align-items-end flex-column">  <input type="submit" class=" btn btn-info" value="Change">
            </div>
            <div class="text-black-50 alert-light">Don't Remember , <a href="{% url 'forget_password' %}" class="text-decoration-none"> Forget Password </a> </div>
        </div> 

        </form>
    </div>
</div>





{% endblock %}