{% extends 'base.html' %}
{% block content %}


<div class="container">
        
    <form method="POST">
        {% csrf_token %}
            <div class="form-group col-lg-4 col-md-7 mx-auto my-3 p-3 border rounded ">
                <h3 class="alert alert-light  border rounded mx-auto text-center">Creat New Account
                </h3>
                {% if error_massege %}
                <div class="alert-danger p-2">{{error_massege | upper}}</div>
                {% endif %}
                <div>
                    <label for="first_name">First Name :</label>
                    <input type="text" required name="first_name" id="first_name" class="form-control form-control-sm" placeholder="First Name ">
                </div>
                <div>
                    <label for="last_name">Last Name :</label>
                    <input type="text"  name="last_name" id="last_name" class="form-control form-control-sm" placeholder="Last Name">
                </div>
                <div>
                    <label for="phone_number">Phone Number :</label>
                    <input type="text" name="phone_number" id="phone_number" class="form-control form-control-sm" placeholder="eg. 786598563">
                </div>
                <div>
                    <label for="email">Email :</label>
                    <input type="email" required name="email" id="email" class="form-control form-control-sm" placeholder="exanpal@gmail.com">
                </div>
                <div>
                    <label for="password">Password :</label>
                    <input type="password"  name="password" id="password" class="form-control form-control-sm" placeholder="********">
                </div>
                <div class=" d-flex align-items-end flex-column">
                    <input type="submit"   id="password" class="btn btn-sm btn-info mt-2" value="Creat New Account">
                </div>
            
        </div>
 </form>
</div>


 

{% endblock %}